.grid-container{
    display:grid;

}



header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color:green;
    padding:50px;
    
}
.grid-item{

    border-bottom: 2px solid grey;
}


#heading{
    font-size:35px;
    font-family: 'Times New Roman', Times, serif;
}

.left{
float: left;
}
.right{
    float:right;  
}
.wrapper{
    margin-bottom:200px;
}
.wrap{
    
    margin-bottom:120px;

}
.main{
  width: 800px;
  float: right;
  margin-top:50px;
  margin-right:100px;
  
    
}


#sidebar{
    background-color:gainsboro;
    width:300px;
    float: left;
    margin-top:50px;
    margin-left:50px;
    height:1000px;
   
}
h1{
    font-size:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Job{
    font-size:20px;
}
.borderbox{
    border: 2px solid white;
}
.text{
    margin-right:200px;
    margin-left:200px;
}
.Contact{
    margin-bottom: 30px;
    border-bottom: 3px solid black;
    margin-left:10px;
    margin-right:10px;
}
.Social{
    margin-left:10px;
    margin-right:10px;
    

}
img{
    border-radius:50%;
    height:250px;
    width:250px;
    float:left;
    margin-right:10px;
}
.image{
    display:flex;
    justify-content: center;
    margin:10px;
}
#icon > img{
    height:25px;
    width:25px;
}

ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

